@page "/DynamicText"

<div style="color:@CompareContrast()"><strong>@Text</strong></div>

@code {
    [Parameter]
    public string ColourOption1 { get; set; } = "#ffffff";

    [Parameter]
    public string ColourOption2 { get; set; } = "#000000";

    [Parameter]
    public string ComparisonColour { get; set; } = "#ffffff";

    [Parameter]
    public string Text { get; set; } = "Sample Text";

    private ColourDto colour1 { get; set; } = new();
    private ColourDto colour2 { get; set; } = new();
    private ColourDto comparisonColour { get; set; } = new();

    protected override void OnInitialized()
    {
        colour1 = new ColourDto { HexCode = ColourOption1 };
        colour2 = new ColourDto { HexCode = ColourOption2 };
        comparisonColour = new ColourDto { HexCode = ComparisonColour };
    }

    private string CompareContrast()
    {
        double contrast1 = Colour.ContrastRatio(colour1.RGB, comparisonColour.RGB);
        double contrast2 = Colour.ContrastRatio(colour2.RGB, comparisonColour.RGB);

        return contrast1 > contrast2 ? colour1.HexCode : colour2.HexCode;
    }



}
