@inherits LayoutComponentBase
<div class="d-flex flex-column h-100 m-0">
    <div style="height:5vh;">
<NavMenu />
    </div>
<main class="border border-1 border-info" style="height:100%;">
    @Body
</main>
</div>
